/* --------- Personal --------- */
personal {
    display: grid;
    grid-column-gap: 4rem;
}

personal-title,
personal-p {
    font-family: 'Roboto', sans-serif;
}

personal-title {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    text-align: center;
    margin-bottom: 1.25rem;
}

personal-p {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    text-align: center;
    line-height: 1.7;
    margin-top: 0;
}