/* --------- Contact --------- */
contact {
display: grid;
grid-column-gap: 4rem;
background-color: #1d3650;
padding-left: 5rem;
padding-right: 5rem;
padding-top: 2rem;
padding-bottom: 2rem;
justify-items: center;
grid-template-areas:
   "contact-title"
   "contact-icon";
}

contact-title {
    /*text-decoration: underline;*/
    font-size: 1.2rem;
    color: whitesmoke;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}
contact-icon {

}
