/*Heading*/
photo {
	grid-area: photo;
}
facephoto{
	max-height: 200px;
}
heading {
	grid-area: heading;
	margin-top: 1rem;
	font-size: 2.75rem;
  	line-height: 2.75rem;
  	text-transform: uppercase !important;
}
subheading {
	grid-area: subheading;
	margin-top: 1rem;
	font-size: 1.75rem;
}
text {
	max-width: 900px;
	text-align:center;
	grid-area: text;
	margin-top: 1rem;
	font-size: 1.25rem;
}
whoami {
	display: grid;
	grid-column-gap: 4rem;
	background-color:#059d8f;
	color:white;
  	padding-top: calc(6rem + 74px);
  	padding-bottom: 2rem;
}
@media only screen and (max-width: 848px) {
	heading {
		text-align:center;
	}
	subheading{
		text-align:center;
	}
	text {
		max-width: 500px;
	}
	whoami {
		justify-items: center;
		grid-template-areas:
			"photo"
			"heading"
			"subheading"
			"text";
	}
}
@media only screen and (min-width: 849px) {
	photo {
		justify-self: end;
	}
	heading {
		align-self: end;
	}
	subheading {
		align-self: start;
	}
	text {
		justify-self: center;
	}
	whoami {
		grid-template-columns: 1fr 1.2fr;
		grid-template-areas:
			"photo	heading"
			"photo	subheading"
			"text	text";
		grid-column-gap: 4rem;
	}
}

/*Portfolio */

minor-entry{
	max-width: 900px;
	text-align:center;
	grid-area: text;
	margin-top: 1rem;
	font-size: 1.1rem;
}