/* --------- Head --------- */
heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 5.75rem;
    line-height: 2.75rem;
    text-transform: uppercase !important;
}

subheading {
    margin-top: 1rem;
    font-size: 4.75rem;
}

whoami {
    color: white;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
}
