portfolio {}

port-title {
    display: block;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    text-align: center;
}

.portfolio-colors {
    background-color: #1d3650 !important;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}


portfolio-items {
    display: grid;
    grid-column-gap: 2rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

port-subtitle {
    display: grid;
    grid-area: port-subtitle;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}

port-box1,
port-box2,
port-box3,
port-box4 {
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background: #1d3650;
    color: whitesmoke;
    align-self: center;
}

port-box1 {
    grid-area: port-box1;
}

port-box2 {
    grid-area: port-box2;
}

port-box3 {
    grid-area: port-box3;
}

port-box4 {
    grid-area: port-box4;
}

/*For different screen sizes*/
@media only screen and (max-width: 1200px) {

    /*Fix tile font size on mobile*/
    portfolio-items {
        padding-left: 5rem;
        padding-right: 5rem;
        justify-self: center;
        align-self: center;
        grid-template-areas:
            "port-subtitle"
            "port-box1"
            "port-box2"
            "port-box3"
            "port-box4";
    }

    port-subtitle {
        justify-self: center;
    }
}

@media only screen and (min-width: 1200px) {

    portfolio-items {
        margin-left: 2rem;
        margin-right: 2rem;
        align-items: center;
        justify-items: center;
        height: 15rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "port-subtitle port-box1 port-box2 port-box3 port-box4";
        grid-column-gap: 2rem;
    }

    port-subtitle {
        justify-self: safe right;
        align-self: center;
    }
}


.modal-colors {
    background-color: whitesmoke;
    color: black;
}

modal-title {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

model-description {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
}


.img-fit {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
}